# Игнорировать node_modules и временные файлы
node_modules/
.cache/
.tmp/
dist/
build/

# Игнорировать логи и временные файлы
*.log

# Игнорировать файлы окружения (секреты)
.env
.env.*

# Игнорировать загруженные файлы (если не нужно хранить их в git)
uploads/

# Игнорировать файлы базы данных (если используется SQLite)
database/*.db
database/*.sqlite

tsconfig.tsbuildinfo 